.about {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
  padding-left: 10px;
  background: url(../../assets/img/about/about-bg.jpg) center center no-repeat;
  text-align: center;
  background-size: cover;
  @include respond(tab-por) {
    text-align: left;
  }
  .about::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9;
  }
  h3 {
    font-weight: 700;
    font-size: 34px;
    color: #2f4d5a;
    margin-bottom: 30px;
  }
  .hero__btn {
    display: inline-block;
    background: #67b0d1;
    padding: 6px 44px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
  }
  .about__box {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: stretch;
    .about__icon {
      display: inline-block;
      width: 40px;
      height: 40px;
    }
    h4 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 10px 0;
    }
    p {
      font-size: 15px;
      color: #848484;
    }
  }
}
